* {
  margin: 0;
}

body {
  font-family: 'Open Sans', bold;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

/********* Header *********/

header {
  background-color: #1F1F3D;
  display: flex;
  height: 5em;
  justify-content: space-between;
  width:100%;
}

h1 {
  color: white;
  font-size: 2.5em;
  margin-left: 1%;
  margin-top: .5%;
  text-transform:uppercase;
}

span {
  color: #FFC30C;
}

.header__div--search {
  display: flex;
  height: 84%;
  margin-right: 1%;
  margin-top: .75%;
  width: 26%;
}

.header__icon--search {
  background: #F3F6F7;
  border-radius: 2px 0 0 2px;
  border: none;
  box-sizing: border-box;
  height: 63%;
  margin-top: 1%;
  max-width: 10%;
  padding: 2%;
}

.header__input--search {
  border-radius: 0 5px 5px 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-size: 1em;
  height: 62%;
  margin-top: 1%;
  padding: 5px;
  width: 91%;
}

/******** Left Side ********/

li {
  font-size: 18px;
}

.section__left {
  background-color: #587A8A;
  box-sizing: border-box;
  display: inline-block;
  grid-column: first;
  height: 100%;
  padding: 30px;
  width: 34%;
}

.section__ul--task {
  list-style: none;
  margin: auto;
  width: 80%;
}

.section__button--delete {
  width: 19px;
}

.plus__img {
  height: 34px;
}

.section__button {
  background-color: #1F1F3D;
  border-radius: 4px;
  border: none;
  color:white;
  font-size: 1.25em;
  font-weight: 600;
  height: 7vh;
  margin-top: 7%;
  width: 100%;
}

.section__button--group {
  height: 25%;
  border-bottom: solid #406478 2px;
}

.section__button--filter {
   margin-top: 10%;
}

.section__p--task-title,
.section__p--task-item {
  color: #F3F6F7;
  font-weight: 600;
}

.section__input--title {
  border: solid #1F1F3D 2px;
  font-size: 2em;
  margin: 7px 0 17px 0;
  width:100%;
}

.section__input--button {
  display: flex;
}

.section__input--task {
  width: 100%;
  border: solid #1F1F3D 2px;
  font-size: 2em;
  margin: 7px 0;
}

.section__img--plus {
  background-color: #1F1F3D;
  border: none;
  padding: 0 10px;
  margin: 7px auto;
}

.section__button--delete {
  width: 34px;
  position: absolute;
}

/*********** Main ************/

main {
  display:flex;
  height: 120vh;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

footer{
  border-top: solid #C7D3D8 2px;
  box-sizing: border-box;
  display: flex;
  padding: 7px;
}

.section__main {
  background-color: #F3F6F7;
  column-count: auto;
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}

.h3__prompt {
  color: #C7D3D8;
  font-size: 50px;
  margin: 194px auto;
  opacity: 0.8;
  text-align: center;
  text-shadow: 1px 1px 1px #b9b9b9;
}

.h3__prompt:hover {
  opacity: 1;
}

.article__ul {
  border-color:red;
}

.article__card {
  border: solid 2px #C7D3D8;
  margin: 20px 15px;
  width: 46%;
}

.article__card.urgent {
  background: #FFE89D;
  border: solid #FFC30C 2px;
}

.article__card.urgent .article__card--title {
  background: #FFE89D;
  border-bottom: solid #FFC30C 2px;
}

.article__card.urgent footer {
  border-top: solid #FFC30C 2px;
}

.article__img--urgent {
  background-image: url("icons/urgent.svg");
}

.article__card.urgent .article__img--urgent {
  background-image: url("icons/urgent-active.svg");
}

.ul__li {
  color: white;
  display: inline-block;
  font-size: 2em;
  list-style: none;
  width: 100%;
}

.ul__li.complete {
  font-style: italic;
}

.article__card--delete-both {
  font-size: 12px;
  margin-left:auto;
  margin-right:5%;
  text-transform: uppercase;
}

.article__img--delete {
  height: 30px;
  margin-top: 5px;
  width:44px;
}

.article__card--urgent-both {
  margin-left: 5%;
}

.article__card--urgent {
  font-size: 12px;
  text-transform: uppercase;
}

.article__card--title {
  border-bottom:solid #C7D3D8 2px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.article__img--check {
  max-width: 10%;
}

.article__ul--li {
  font-size: 18px;
  font-style: none;
  list-style: none;
  padding: 5%;
}

.article__ul--li.complete {
  font-style: italic;
}

.checkbox-image {
  background-image: url('icons/checkbox.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 21px;
  width: 29px;
}

.checkbox-image.complete {
  background-image: url('icons/checkbox-active.svg');
}

.urgent-image {
  background-image: url("icons/urgent.svg");
  background-repeat: no-repeat;
  display:inline-block;
  height: 35px;
  width: 40px;
}

.urgent-image.urgent {
  background-image: url("icons/urgent-active.svg");
}

.task__body {
  font-size: 27px;
  margin-left: 12%;
}

/****************** Media Queries ******************/

@media only screen and (max-width: 623px) {

body {
  overflow: visible;
}

header {
  height: 12em;
  width: 100%;
}

h1 {
  height:35%;
  margin-left: 19%;
  margin-top: 3%;
}

.header__div--search {
  height: 12%;
  left: 4%;
  margin-top:20%;
  position: absolute;
  width: 92%;
}

.section__main {
  display: block;
  margin-top: 146%;
  width: 100%;
}

.section__left {
  height:100%;
  position:absolute;
  width: 100%;
}

.article__card {
  width: 100%;
}

}


