* {
/*  border: solid #32CD32 1px;*/
  margin: 0;
}
body {
  font-family: 'Open Sans', bold;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
button {
  cursor: pointer;
}
/********* Header *********/
header {
  background-color: #1F1F3D;
  display: flex;
  height: 5em;
  width:100%;
  justify-content: space-between;
}
h1 {
  text-transform:uppercase;
  color: white;
  margin-top: .5%;
  margin-left: 1%;
  font-size: 2.5em;

}
span {
  color: #FFC30C;

}
.section__left {
  background-color: #587A8A;
  display: inline-block;
  grid-column: first;
  height: 100%;
  width: 34%;
  padding: 30px;
  box-sizing: border-box;
}
.header__div--search {
  margin-top: .75%;
  margin-right: 1%;
  height: 84%;
  width: 26%;
  display: flex;
}
.header__icon--search {
  padding: 2%;
  box-sizing: border-box;
  max-width: 10%;
  height: 63%;
  background: #F3F6F7;
  margin-top: 1%;
  border: none;
  border-radius: 2px 0 0 2px;
}
.header__input--search{
  width: 91%;
  height: 62%;
  font-family: 'Open Sans';
  font-size: 1em;
  margin-top: 1%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  border: none;
}
/******** Left Side ********/
.section__button--delete {
  width: 19px;
}
li {
  font-size: 18px;
}
.section__ul--task {
  list-style: none;
  width: 80%;
  margin: auto;
}
.plus__img {
  height: 34px;
}
.section__button {
  width: 100%;
  height: 7vh;
  color:white;
  background-color: #1F1F3D;
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 7%;
  border: none;
  border-radius: 4px;
}
.section__button--filter {
   border-color: #782616;
   background-color: #EF4A23;
   margin-top: 10%;
}
.section__p--task-title,
.section__p--task-item {
  color: #F3F6F7;
  font-weight: 600;
}
.section__input--title {
  width:100%;
  border: solid #1F1F3D 2px;
  margin: 7px 0 17px 0;
  font-size: 2em;
}
.section__input--button {
  display: flex;
}
.section__input--task {
  width: 100%;
  border: solid #1F1F3D 2px;
  font-size: 2em;
  margin: 7px 0;
}
.section__img--plus {
  background-color: #1F1F3D;
  border: none;
  padding: 0 10px;
  margin: 7px auto;
}
/********* Main ***********/
.h3__prompt {
  font-size: 50px;
  text-align: center;
  color: #C7D3D8;
  margin: 194px auto;
  text-shadow: 1px 1px 1px #b9b9b9;
  opacity: 0.8;
}
.h3__prompt:hover {
  opacity: 1;
}
main {
  display:flex;
  height: 120vh;

}
.article__ul{
  border-color:red;
}
.section__main {
  background-color: #F3F6F7;
  column-count: auto;
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
   overflow: scroll;
}
.article__card {
  border: solid 2px #C7D3D8;
  width: 46%;
  margin: 20px 15px;
}
.article__card.urgent {
  background: #FFE89D;
  border: solid #FFC30C 2px;
}
.article__card.urgent .article__card--title {
  background: #FFE89D;
  border-bottom: solid #FFC30C 2px;
}
.article__card.urgent footer {
  border-top: solid #FFC30C 2px;
}
.article__img--urgent {
  background-image: url("icons/urgent.svg");
}
.article__card.urgent .article__img--urgent {
  background-image: url("icons/urgent-active.svg")
}
ul {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.ul__li {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 2em;
  width: 100%;
  
}
.ul__li.complete {
  font-style: italic;
}
.article__card--delete-both{
  margin-left:auto;
  margin-right:5%;
  text-transform: uppercase;
  font-size: 12px;
}
.article__img--delete {
  width:44px;
  height: 30px;
  margin-top: 5px;
}
.article__card--urgent-both{
  margin-left: 5%;
}
footer{
  display: flex;
  border-top: solid #C7D3D8 2px;
  padding: 7px;
  box-sizing: border-box;
}
.article__card--urgent{
  font-size: 12px;
  text-transform: uppercase;
}
.article__card--title {
  border-bottom:solid #C7D3D8 2px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.article__img--check {
  max-width: 10%;
}
.article__ul--li {
  list-style: none;
  font-size: 18px;
  padding: 5%;
  font-style: none;
}
.article__ul--li.complete {
  font-style: italic;
}
.checkbox-image{
  display: inline-block;
  background-image: url('icons/checkbox.svg');
  background-repeat: no-repeat;
  height: 21px;
  width: 29px;
}
.checkbox-image.complete{
  background-image: url('icons/checkbox-active.svg');
}
.urgent-image {
  display:inline-block;
  background-image: url("icons/urgent.svg");
  width: 40px;
  background-repeat: no-repeat;
  height: 35px;
}
.urgent-image.urgent {
  background-image: url("icons/urgent-active.svg");
}

.task__body{
  font-size: 27px;
  margin-left: 12%;
}

.section__button--delete {
  width: 34px;
  position: absolute;

}

/***** Media Queries *****/

@media only screen and (max-width: 623px) {

body {
  overflow: visible;
}

header {
  height: 12em;
  width: 100%;
}

h1{
  height:35%;
  margin-left: 19%;
  margin-top: 3%;
}

.header__div--search{
  width: 92%;
  height: 12%;
  margin-top:20%;
  left: 4%;
  position: absolute;
}

.section__main {
  display: block;
  width: 100%;
  margin-top: 146%;
}

.section__left {
  width: 100%;
  height:100%;
  position:absolute;
}

.article__card {
  width: 100%
  ;
}



}



